.content-title{
  width: 100%;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  display: inline-block;
  height: 50px;
  box-shadow: 5px 5px 5px lightgray;
  padding-left: 50px;
  z-index: 9;
  background-color: white;
}
