<h1 mat-dialog-title>option.{{data.type}}</h1>
<div mat-dialog-content>
  <form #formData="ngForm" autocomplete="off" onsubmit="sendItemOptionData(data, formData)">
    <div class="row">
      <div class="col">
        <label class="form-label" for="code">
          option.form.code
        </label>
        <input type="text" class="form-control form-control-sm" name="code" #code="ngModel" ngModel>
      </div>
      <div class="col">
        <label class="form-label" for="code">
          option.form.name
        </label>
        <input type="text" class="form-control form-control-sm" name="name" #name="ngModel" ngModel>
      </div>
    </div>


  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeModalWindows()">Cancel</button>
  <button mat-button type="submit" cdkFocusInitial>Save</button>
</div>
